<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реклама</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Реклама</h1>
        <ul>
            <li>Человечество вырастает из детства.</li>
            <li>Человечеству мала одна планета.</li>
            <li>Мы сделаем обитаемыми безжизненные пока планеты.</li>
            <li>И начнем с Марса!</li>
        </ul>
        <p>Присоединяйся!</p>
    </div>
</body>
</html>
